<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
	<title>Lian</title>
</head>
<body>
	<header class="header">
        <div class="container">
            <div class="wrapper wrapper--between wrapper--align">
                <div class="mobile-menu">
                    <div class="mobile-menu__hamburger">
                        <i class="fas fa-bars"></i>
                    </div>
                    <nav class="mobile-menu__navigation">
                        <ul class="mobile-menu__list">
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="index.html">HOME</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="/">About</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="portfolio.html">Portfolio</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="">BLOG</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <a class="logo" href="index.html"></a>
                <nav class="main-menu">
                    <ul class="main-menu__list">
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="index.html">HOME</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link main-menu__link--active" href="/">About</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="portfolio.html">Portfolio</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="">BLOG</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
    </header>

    <div class="banner">
    	<div class="container">
    		<h2 class="banner__logo">About The Agency</h2>
    		<h4 class="banner__welcome decorator-h4">Welcome to Lian</h4>
    	</div>
    </div>

    <div class="content">
        <div class="container">
            <div class="wrapper wrapper--between">
                <img class="content__item" src="img/about/team.png" alt="Our team">
                <div class="content__item">
                    <div class="content__story">
                        <h4 class="content__title decorator-h4">Our Story</h4>
                        <p class="content__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                        </p>
                        <p class="content__text">
                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                        </p>
                    </div>
                    <div class="content__skills">
                        <h4 class="content__title decorator-h4">Our SKills</h4>
                        <h5 class="content__skill-name">Photoshop</h5>
                        <div class="content__field">
                            <div class="content__indicator"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content__team">
                <h3>Awesome Team</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                </p>
            </div>
            <div class="content__team-description">
                <div class="wrapper wrapper--between">
                    <div>
                        <img src="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">        
        <a class="logo logo--footer" href="/"></a>
        <div class="social">
            <div class="container">
                <div class="social__wrapper">
                    <a class="social__link" href="https://facebook.com">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="social__link" href="https://google.com">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a class="social__link" href="https://twitter.com">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="social__link" href="https://linkedin.com">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="social__link" href="https://dribbble.com">
                        <i class="fab fa-dribbble"></i>
                    </a>
                    <a class="social__link" href="https://pinterest.com">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                    <a class="social__link" href="https://instagram.com">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">
            &copy; 2016 <span class="copyright--color">Mulitix Theme</span> by ThemeForces. All Rights Reserved.
        </div>        
    </footer>
</body>
</html>