<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
	<title>Lian</title>
</head>
<body>
	<header class="header">
        <div class="container">
            <div class="wrapper wrapper--between wrapper--align">
                <div class="mobile-menu">
                    <div class="mobile-menu__hamburger">
                        <i class="fas fa-bars"></i>
                    </div>
                    <nav class="mobile-menu__navigation">
                        <ul class="mobile-menu__list">
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="index.html">HOME</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="/">About</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="portfolio.html">Portfolio</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="blog.html">BLOG</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <a class="logo" href="index.html"></a>
                <nav class="main-menu">
                    <ul class="main-menu__list">
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="index.html">HOME</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link main-menu__link--active" href="/">About</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="portfolio.html">Portfolio</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="blog.html">BLOG</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
    </header>

    <div class="banner banner--about">
    	<div class="container">
    		<h2 class="banner__logo">About The Agency</h2>
    		<h4 class="banner__welcome banner__title banner__title--about">Welcome to Lian</h4>
    	</div>
    </div>

    <main class="main-about">
        <div class="container">
            <div class="main-about__wrapper">
                <div class="main-about__block">
                    <img class="main-about__img" src="img/about/team.png" alt="Our team">
                </div>
                <div class="main-about__block">
                    <div class="main-about__story">
                        <h4 class="main-about__title">Our Story</h4>
                        <p class="main-about__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                        </p>
                        <p class="main-about__text">
                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                        </p>
                    </div>
                    <div class="about-skills">
                        <h4 class="about-skills__title">Our SKills</h4>
                        <h5 class="about-skills__name about-skills__name--margin">Photoshop</h5>
                        <div class="about-skills__field">
                            <div class="about-skills__indicator about-skills__indicator--photoshop"></div>
                        </div>
                        <h5 class="about-skills__name">Branding</h5>
                        <div class="about-skills__field">
                            <div class="about-skills__indicator about-skills__indicator--branding"></div>
                        </div>
                        <h5 class="about-skills__name">Photography</h5>
                        <div class="about-skills__field">
                            <div class="about-skills__indicator about-skills__indicator--photography"></div>
                        </div>
                        <h5 class="about-skills__name">Web Design</h5>
                        <div class="about-skills__field">
                            <div class="about-skills__indicator about-skills__indicator--design"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promo">
                <h3 class="promo__title">Awesome Team</h3>
                <p class="promo__text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                </p>
            </div>
            <div class="team">
                <div class="team__item">
                    <img class="team__img" src="img/about/joy.png" alt="worker">
                    <div class="team__description">
                        <div class="team__name">Lian Joy</div>
                        <div class="team__position">CEO/Founder</div>
                        <p class="team__representation">
                            Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu mmy nibh euis mod tinci 
                        </p>
                    </div>
                </div>
                <div class="team__item">
                    <img class="team__img" src="img/about/thanh.png" alt="worker">
                    <div class="team__description">
                        <div class="team__name">Albert Thanh</div>
                        <div class="team__position">CEO/Founder</div>
                        <p class="team__representation">
                            Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu mmy nibh euis mod tinci 
                        </p>
                    </div>
                </div>
                <div class="team__item">
                    <img class="team__img" src="img/about/pereira.png" alt="worker">
                    <div class="team__description">
                        <div class="team__name">Jenn Pereira</div>
                        <div class="team__position">CEO/Founder</div>
                        <p class="team__representation">
                            Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu mmy nibh euis mod tinci 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer footer-about">        
        <a class="logo logo--footer" href="/"></a>
        <div class="social">
            <div class="container">
                <ul class="social__list">
                    <li class="social__item">
                        <a class="social__link" href="https://facebook.com">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="social__item">    
                        <a class="social__link" href="https://google.com">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://twitter.com">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://linkedin.com">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://dribbble.com">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://pinterest.com">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://instagram.com">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            &copy; 2016 <span class="copyright--color">Mulitix Theme</span> by ThemeForces. All Rights Reserved.
        </div>        
    </footer>
</body>
</html>