<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Lian</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="wrapper wrapper--between wrapper--align">
                <div class="mobile-menu">
                    <div class="mobile-menu__hamburger">
                        <i class="fas fa-bars"></i>
                    </div>
                    <nav class="mobile-menu__navigation">
                        <ul class="mobile-menu__list">
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="index.html">HOME</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="about.html">About</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="portfolio.html">Portfolio</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="/">BLOG</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <a class="logo" href="/"></a>
                <nav class="main-menu">
                    <ul class="main-menu__list">
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="index.html">HOME</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="about.html">About</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="portfolio.html">Portfolio</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link main-menu__link--active" href="/">BLOG</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="search">
                    <i class="search__icon fas fa-search"></i>
                    <input class="search__form" type="search" name="search">
                </div>
            </div>
        </div>
    </header>

    <div class="banner-blog">
        <div class="container">
            <h2 class="banner-blog__logo">News About Lian</h2>
            <h4 class="title title--banner">Latest News & Insights</h4>
        </div>
    </div>

    <main class="main-blog">
        <div class="container">
            <div class="main-blog__wrapper">
                <div class="main-blog__content-left">
                    <div class="main-blog__wrapper">
                        <div class="main-blog__column">
                            <div class="main-blog__item main-blog__item--blog main-blog__item--technology main-blog__item--hover">
                                <div class="main-blog__technology">WordPress</div>
                                <div class="main-blog__title">I am a Blog Post Title</div>
                                <div class="main-blog__author">by Jenn Pereira</div>
                                <p class="main-blog__review">
                                    Phasellus et nisl tellus. Etiam facilisis eu nisi scelerisque faucibus. Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris. Etiam facilisis eu nisi scelerisque faucibus...
                                </p>
                                <time class="main-blog__data" datetime="2016-07-19">on July 19, 2016</time>
                                <i class="main-blog__icon-share fas fa-share-alt"></i>
                                <i class="main-blog__icon-heart fas fa-heart"></i>
                            </div>
                            <img class="main-blog__item main-blog__item--img" src="img/blog/23.png" alt="blog">
                            <div class="main-blog__item main-blog__item--blog main-blog__item--no-technology main-blog__item--hover">
                                <div class="main-blog__title">I am a Blog Post with an Awesome Image</div>
                                <div class="main-blog__author">by Jenn Pereira</div>
                                <p class="main-blog__review">
                                    Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris...
                                </p>
                                <time class="main-blog__data" datetime="2016-07-19">on July 19, 2016</time>
                                <i class="main-blog__icon-share fas fa-share-alt"></i>
                                <i class="main-blog__icon-heart fas fa-heart"></i>
                            </div>
                            <div class="main-blog__item main-blog__item--blog main-blog__item--technology main-blog__item--hover">
                                <div class="main-blog__technology">Image Hover</div>
                                <div class="main-blog__title main-blog__title--img-hover">I am a Blog Post Title</div>
                                <div class="main-blog__author">by Jenn Pereira</div>
                                <p class="main-blog__review main-blog__review--img-hover">
                                    Phasellus et nisl tellus. Etiam facilisis eu nisi scelerisque faucibus. Proin semper suscipit magna, nec imperdiet lacus semper...
                                </p>
                                <time class="main-blog__data main-blog__data--img-hover" datetime="2016-07-19">on July 19, 2016</time>
                                <i class="main-blog__icon-share fas fa-share-alt"></i>
                                <i class="main-blog__icon-heart fas fa-heart"></i>
                            </div>
                        </div>
                        <div class="main-blog__column main-blog__column--middle">
                            <img class="main-blog__item main-blog__item--img" src="img/blog/clock.png" alt="clock">                            
                            <div class="main-blog__item main-blog__item--blog main-blog__item--no-technology main-blog__item--hover">
                                <div class="main-blog__title">I am a Blog Post with an Awesome Image</div>
                                <div class="main-blog__author">by Jenn Pereira</div>
                                <p class="main-blog__review">
                                    Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris...
                                </p>
                                <time class="main-blog__data" datetime="2016-07-19">on July 19, 2016</time>
                                <i class="main-blog__icon-share fas fa-share-alt"></i>
                                <i class="main-blog__icon-heart fas fa-heart"></i>
                            </div>                        
                            <img class="main-blog__item main-blog__item--img" src="img/blog/video.png" alt="blog">  
                            <img class="main-blog__item main-blog__item--img" src="img/blog/coffee&tea.png" alt="coffee&tea">                            
                            <div class="main-blog__item main-blog__item--blog main-blog__item--no-technology main-blog__item--hover">
                                <div class="main-blog__title">I am a Blog Post with an Awesome Image</div>
                                <div class="main-blog__author">by Jenn Pereira</div>
                                <p class="main-blog__review">
                                    Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris...
                                </p>
                                <time class="main-blog__data" datetime="2016-07-19">on July 19, 2016</time>
                                <i class="main-blog__icon-share fas fa-share-alt"></i>
                                <i class="main-blog__icon-heart fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn--blog" type="button">Load More</button>
                </div>
                <div class="main-blog__column main-blog__column--last">
                    <div class="main-blog__item main-blog__item--form">
                        <input class="main-blog__search-form" type="search" name="search" placeholder="Search">
                    </div>
                    <div class="main-blog__item main-blog__item--blog">
                        <h4 class="main-blog__sidebar-title">Recent Posts</h4>
                        <div class="main-blog__post">
                            <div class="main-blog__post-item">
                                <img class="main-blog__img-post" src="img/blog/post1.png" alt="post1">
                                <div class="main-blog__description-post">
                                    <p class="main-blog__text-post">
                                        Lorem ipsum dolor sit amet, consec
                                    </p>
                                    <time class="main-blog__data-post" datetime="2016-07-05">July 5, 2016</time>
                                </div>
                            </div>
                            <div class="main-blog__post-item">
                                <img class="main-blog__img-post" src="img/blog/post2.png" alt="post2">
                                <div class="main-blog__description-post">
                                    <p class="main-blog__text-post">
                                        Ut wisi enim ad minim veniam, quis
                                    </p>
                                    <time class="main-blog__data-post" datetime="2016-07-17">July 17, 2016</time>
                                </div>
                            </div>
                            <div class="main-blog__post-item">
                                <img class="main-blog__img-post" src="img/blog/post3.png" alt="post3">
                                <div class="main-blog__description-post">
                                    <p class="main-blog__text-post">
                                        Aliquip ex ea commodo aliquam erat volutpat
                                    </p>
                                    <time class="main-blog__data-post" datetime="2016-07-21">July 21, 2016</time>
                                </div>
                            </div>
                            <div class="main-blog__post-item">
                                <img class="main-blog__img-post" src="img/blog/post4.png" alt="post4">
                                <div class="main-blog__description-post">
                                    <p class="main-blog__text-post">
                                        Ut wisi enim ad minim veniam, quis
                                    </p>
                                    <time class="main-blog__data-post" datetime="2016-07-17">July 17, 2016</time>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-blog__item main-blog__item--blog main-blog__item--tags">
                        <h4 class="main-blog__sidebar-title">Popular tags</h4>
                        <ul class="main-blog__list-tags">
                            <li class="main-blog__item-tags">construction</li>
                            <li class="main-blog__item-tags">engineering</li>
                            <li class="main-blog__item-tags">architecture</li>
                            <li class="main-blog__item-tags">structural design</li>
                            <li class="main-blog__item-tags">civil engineer</li>
                            <li class="main-blog__item-tags">industrial</li>
                            <li class="main-blog__item-tags">management</li>
                            <li class="main-blog__item-tags">mechanical</li>
                        </ul>
                    </div>
                    <div class="main-blog__item main-blog__item--blog">
                        <h4 class="main-blog__sidebar-title">Instagram</h4>
                        <div class="main-blog__gallery">
                            <img class="main-blog__gallery-item" src="img/blog/gallery1.png">
                            <img class="main-blog__gallery-item" src="img/blog/gallery2.png">
                            <img class="main-blog__gallery-item main-blog__gallery-item--margin" src="img/blog/gallery3.png">
                            <img class="main-blog__gallery-item" src="img/blog/gallery4.png">
                            <img class="main-blog__gallery-item" src="img/blog/gallery5.png">
                            <img class="main-blog__gallery-item main-blog__gallery-item--margin" src="img/blog/gallery6.png">
                            <img class="main-blog__gallery-item" src="img/blog/gallery7.png">
                            <img class="main-blog__gallery-item" src="img/blog/gallery8.png">
                            <img class="main-blog__gallery-item main-blog__gallery-item--margin" src="img/blog/gallery9.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">        
        <a class="logo logo--footer" href="/"></a>
        <div class="social">
            <div class="container">
                <ul class="social__list">
                    <li class="social__item">
                        <a class="social__link" href="https://facebook.com">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="social__item">    
                        <a class="social__link" href="https://google.com">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://twitter.com">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://linkedin.com">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://dribbble.com">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://pinterest.com">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://instagram.com">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            &copy; 2016 <span class="copyright--color">Mulitix Theme</span> by ThemeForces. All Rights Reserved.
        </div>        
    </footer>
</body>
</html>