<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=cb7c1869-1513-4062-9da1-58c6540d5879&lang=en_US">
    </script>
    <title>Lian</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="wrapper wrapper--between wrapper--align">
                <div class="mobile-menu">
                    <div class="mobile-menu__hamburger">
                        <i class="fas fa-bars"></i>
                    </div>
                    <nav class="mobile-menu__navigation">
                        <ul class="mobile-menu__list">
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="index.html">HOME</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="about.html">About</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="portfolio.html">Portfolio</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="blog.html">BLOG</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="/">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <a class="logo" href="/"></a>
                <nav class="main-menu">
                    <ul class="main-menu__list">
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="index.html">HOME</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="about.html">About</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="portfolio.html">Portfolio</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="blog.html">BLOG</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link main-menu__link--active" href="/">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="search">
                    <i class="search__icon fas fa-search"></i>
                    <input class="search__form" type="search" name="search">
                </div>
            </div>
        </div>
    </header>

    <div class="banner banner--contact">
        <div class="container">
            <h2 class="banner__logo">Get in Touch</h2>
            <h4 class="banner__welcome banner__title">Contact us Today</h4>
        </div>
    </div>

    <main class="main-contact">
        <div class="container">
            <div class="main-contact__wrapper">
                <div class="main-contact__contact-inform">
                    <h3 class="main-contact__title">Office Info</h3>
                    <p class="main-contact__slogan">People Behind the Success of our Company</p>
                    <div class="main-contact__line"></div>
                    <p class="main-contact__communication">
                        <span class="main-contact__communication--bold">Office Hours:</span>
                        Mon-Friday 8am - 10pm
                    </p>
                    <p class="main-contact__communication">
                        <span class="main-contact__communication--bold">Address:</span>
                        Igbalangao, Bugasong, Antique
                    </p>
                    <p class="main-contact__phone">
                        <span class="main-contact__communication--bold">Tell:</span>
                        123-456-7890
                    </p>
                    <p class="main-contact__phone">
                        <span  class="main-contact__communication--bold">Fax:</span>
                        123-456-7890
                    </p>
                </div>                
                <form class="main-contact__form">
                    <div class="main-contact__form-wrapper">
                        <input class="main-contact__input" type="text" name="name" placeholder="Name" required>
                        <input class="main-contact__input" type="email" name="email" placeholder="Email" required>
                    </div>
                    <textarea class="main-contact__textarea" placeholder="Message"></textarea>
                    <button class="main-contact__btn" type="button">Send MessaGe</button>
                </form>                    
            </div>
        </div>
        <div class="map" id="map"></div>
        <div class="container">
            <div class="value">
                <h3 class="value__title">Our Values</h3>
                <p class="value__text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                </p>
                <div class="value__privilege">
                    <div class="value__variant">
                        <img class="value__img" src="img/contact/who-we.png" alt="Who we are">
                        <div class="value__description">
                            <div class="value__promo">Who We Are</div>
                            <p class="value__paragraph">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.
                            </p>                      
                        </div>
                    </div>
                    <div class="value__variant value__variant--middle">
                        <img class="value__img" src="img/contact/our-vision.png" alt="Our vision">
                        <div class="value__description">
                            <div class="value__promo">Our Vision</div>
                            <p class="value__paragraph">
                                Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me.
                            </p>
                        </div>
                    </div>
                    <div class="value__variant">
                        <img class="value__img" src="img/contact/our-mission.png" alt="Our mission">
                        <div class="value__description">
                            <div class="value__promo">Our Mission</div>
                            <p class="value__paragraph">
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </main>

    <footer class="footer">        
        <a class="logo logo--footer" href="/"></a>
        <div class="social">
            <div class="container">
                <ul class="social__list">
                    <li class="social__item">
                        <a class="social__link" href="https://facebook.com">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="social__item">    
                        <a class="social__link" href="https://google.com">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://twitter.com">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://linkedin.com">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://dribbble.com">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://pinterest.com">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://instagram.com">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            &copy; 2016 <span class="copyright--color">Mulitix Theme</span> by ThemeForces. All Rights Reserved.
        </div>
    </footer>
    <script src="js/map.js"></script>
</body>
</html>