<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Lian</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="wrapper wrapper--between wrapper--align">
                <div class="mobile-menu">
                    <div class="mobile-menu__hamburger">
                        <i class="fas fa-bars"></i>
                    </div>
                    <nav class="mobile-menu__navigation">
                        <ul class="mobile-menu__list">
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="index.html">HOME</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="about.html">About</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="portfolio.html">Portfolio</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="blog.html">BLOG</a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="/">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <a class="logo" href="/"></a>
                <nav class="main-menu">
                    <ul class="main-menu__list">
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="index.html">HOME</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="about.html">About</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="portfolio.html">Portfolio</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="blog.html">BLOG</a>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link main-menu__link--active" href="/">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="search">
                    <i class="search__icon fas fa-search"></i>
                    <input class="search__form" type="search" name="search">
                </div>
            </div>
        </div>
    </header>

    <div class="banner-contact">
        <div class="container">
            <h2 class="banner-contact__logo">Get in Touch</h2>
            <h4 class="banner-contact__welcome title">Contact us Today</h4>
        </div>
    </div>

    <main class="main-contact">
        <div class="container">
            <div class="main-contact__wrapper">
                <div class="main-contact__contact-inform">
                    <h3 class="main-contact__title">Office Info</h3>
                    <p class="main-contact__logo">People Behind the Success of our Company</p>
                    <div class="main-contact__line"></div>
                    <p class="main-contact__working-hours main-contact__communication"><span class="main-contact__color-weight">Office Hours:</span>Mon-Friday 8am - 10pm</p>
                    <p class="main-contact__address main-contact__communication"><span class="main-contact__color-weight">Address:</span>Igbalangao, Bugasong, Antique</p>
                    <p class="main-contact__phone"><span class="main-contact__color-weight">Tell:</span>123-456-7890</p>
                    <p class="main-contact__phone"><span  class="main-contact__color-weight">Fax:</span>123-456-7890</p>
                </div>                
                <form class="main-contact__form">
                    <div class="main-contact__form-wrapper">
                        <input class="main-contact__form-text" type="text" name="name" placeholder="Name" required>
                        <input class="main-contact__form-text" type="email" name="email" placeholder="Email" required>
                    </div>
                    <textarea class="main-contact__form-message" placeholder="Message"></textarea>
                    <button class="main-contact__btn" type="button">Send MessaGe</button>
                </form>                    
            </div>
        </div>        
    </main>

    <footer class="footer">        
        <a class="logo logo--footer" href="/"></a>
        <div class="social">
            <div class="container">
                <ul class="social__list">
                    <li class="social__item">
                        <a class="social__link" href="https://facebook.com">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="social__item">    
                        <a class="social__link" href="https://google.com">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://twitter.com">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://linkedin.com">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://dribbble.com">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://pinterest.com">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://instagram.com">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            &copy; 2016 <span class="copyright--color">Mulitix Theme</span> by ThemeForces. All Rights Reserved.
        </div>        
    </footer>
</body>
</html>