<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Lian</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="wrapper wrapper--between wrapper--align">
                <div class="mobile-menu">
                    <div class="mobile-menu__hamburger">
                        <i class="fas fa-bars"></i>
                    </div>
                    <nav class="mobile-menu__navigation">
                        <ul class="mobile-menu__list">
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="/">HOME</a></li>
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="">About</a></li>
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="">Portfolio</a></li>
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="">BLOG</a></li>
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <a class="logo" href="/"></a>
                <nav class="main-menu">
                    <ul class="main-menu__list">
                        <li class="main-menu__item"><a class="main-menu__link main-menu__link--active" href="/">HOME</a></li>
                        <li class="main-menu__item"><a class="main-menu__link" href="">About</a></li>
                        <li class="main-menu__item"><a class="main-menu__link" href="">Portfolio</a></li>
                        <li class="main-menu__item"><a class="main-menu__link" href="">BLOG</a></li>
                        <li class="main-menu__item"><a class="main-menu__link" href="">Contact</a></li>
                    </ul>
                </nav>
                <div class="search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
    </header>

    <!--<div class="slider">
        <div class="promo-name">
            Lian Creative Agency
        </div>
        <div class="promo">
            Minimal Freelance Portfolio
        </div>
    </div>-->

    <main class="main">
        <div class="container">
            <nav class="menu-technology">
                <ul class="menu-technology__list">
                    <li class="menu-technology__item">
                        <a class="menu-technology__link menu-technology__link--active" href="">All</a>
                    </li>
                    <li class="menu-technology__item">
                        <a class="menu-technology__link" href="">Logo</a>
                    </li>
                    <li class="menu-technology__item">
                        <a class="menu-technology__link" href="">Mobile App</a>
                    </li>
                    <li class="menu-technology__item">
                        <a class="menu-technology__link" href="">WordPress</a>
                    </li>
                    <li class="menu-technology__item">
                        <a class="menu-technology__link" href="">Web Design</a>
                    </li>
                    <li class="menu-technology__item">
                        <a class="menu-technology__link" href="">UI/IX</a>
                    </li>
                    <li class="menu-technology__item">
                        <a class="menu-technology__link menu-technology__link--decorator" href="">Branding</a>
                    </li>
                </ul>
            </nav>
            <div class="gallery">
                <div class="wrapper wrapper--between">
                    <div class="gallery__column">
                        <a class="gallery__link" href="#">
                            <img class="gallery__item" src="img/main/gallery/23.png" alt="project-1">
                        </a>
                        <a class="gallery__link" href="#">
                            <img class="gallery__item" src="img/main/gallery/lamp.png" alt="project-2">
                        </a>
                        <a class="gallery__link" href="#">
                            <img class="gallery__item" src="img/main/gallery/fork&spoon.png" alt="project-3">
                        </a>
                    </div>
                    <div class="gallery__column">
                        <a class="gallery__link" href="#">
                            <img class="gallery__item" src="img/main/gallery/table1.png" alt="project-4">
                        </a>
                        <a class="gallery__link" href="#">
                            <img class="gallery__item" src="img/main/gallery/clock1.png" alt="project-5">
                        </a>
                        <a class="gallery__link" href="#">
                            <img class="gallery__item" src="img/main/gallery/chair.png" alt="project-6">
                        </a>
                        <a class="gallery__link" href="#">
                            <img class="gallery__item" src="img/main/gallery/clock2.png" alt="project-7">
                        </a>
                    </div>
                    <div class="gallery__column">
                        <a class="gallery__link" href="#">
                            <img class="gallery__item" src="img/main/gallery/table2.png" alt="project-8">
                        </a>
                        <a class="gallery__link" href="#">
                            <img class="gallery__item" src="img/main/gallery/card.png" alt="project-9">
                        </a>
                        <a class="gallery__link" href="#">
                            <img class="gallery__item" src="img/main/gallery/box.png" alt="project-10">
                        </a>
                    </div>
                </div>
                <button class="gallery__btn" type="button">Load More</button>
            </div>          
        </div>
    </main>

    <footer class="footer">        
        <a class="logo logo--footer" href="/"></a>
        <div class="social">
            <div class="container">
                <div class="social__wrapper">
                    <a class="social__link" href="https://facebook.com">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="social__link" href="https://google.com">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a class="social__link" href="https://twitter.com">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="social__link" href="https://linkedin.com">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="social__link" href="https://dribbble.com">
                        <i class="fab fa-dribbble"></i>
                    </a>
                    <a class="social__link" href="https://pinterest.com">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                    <a class="social__link" href="https://instagram.com">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">
            &copy; 2016 <span class="copyright--color">Mulitix Theme</span> by ThemeForces. All Rights Reserved.
        </div>        
    </footer>
</body>
</html>