<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Lian</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="wrapper wrapper--between wrapper--align">
                <div class="mobile-menu">
                    <div class="mobile-menu__hamburger">
                        <i class="fas fa-bars"></i>
                    </div>
                    <nav class="mobile-menu__navigation">
                        <ul class="mobile-menu__list">
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="/">HOME</a></li>
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="">About</a></li>
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="">Portfolio</a></li>
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="">BLOG</a></li>
                            <li class="mobile-menu__item"><a class="mobile-menu__link" href="">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <a class="logo" href="/"></a>
                <nav class="main-menu">
                    <ul class="main-menu__list">
                        <li class="main-menu__item"><a class="main-menu__link main-menu__link--active" href="/">HOME</a></li>
                        <li class="main-menu__item"><a class="main-menu__link" href="">About</a></li>
                        <li class="main-menu__item"><a class="main-menu__link" href="">Portfolio</a></li>
                        <li class="main-menu__item"><a class="main-menu__link" href="">BLOG</a></li>
                        <li class="main-menu__item"><a class="main-menu__link" href="">Contact</a></li>
                    </ul>
                </nav>
                <div class="search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
    </header>

    <div class="slider">
        <div class="promo-name">
            Lian Creative Agency
        </div>
        <div class="promo">
            Minimal Freelance Portfolio
        </div>
    </div>

    <main class="main">
        <div class="container">
            <nav class="menu-technology">
                <ul class="menu-technology__list">
                    <li class="menu-technology__item">
                        <a class="menu-technology__link menu-technology__link--active" href="">All</a>
                        <img class="menu-technology__slant-line" src="img/main/line.png" alt="slant line">
                    </li>
                    <li class="menu-technology__item">
                        <a class="menu-technology__link" href="">Logo</a>
                        <img class="menu-technology__slant-line" src="img/main/line.png" alt="slant line">
                    </li>
                    <li class="menu-technology__item">
                        <a class="menu-technology__link" href="">Mobile App</a>
                        <img class="menu-technology__slant-line" src="img/main/line.png" alt="slant line">
                    </li>
                    <li class="menu-technology__item">
                        <a class="menu-technology__link" href="">WordPress</a>
                        <img class="menu-technology__slant-line" src="img/main/line.png" alt="slant line">
                    </li>
                    <li class="menu-technology__item">
                        <a class="menu-technology__link" href="">Web Design</a>
                        <img class="menu-technology__slant-line" src="img/main/line.png" alt="slant line">
                    </li>
                    <li class="menu-technology__item">
                        <a class="menu-technology__link" href="">UI/IX</a>
                        <img class="menu-technology__slant-line" src="img/main/line.png" alt="slant line">
                    </li>
                    <li class="menu-technology__item">
                        <a class="menu-technology__link" href="">Branding</a>
                    </li>
                </ul>
            </nav>
            <div class="gallery">
                <div class="wrapper wrapper--between">
                    <div class="gallery__column">
                        <img class="gallery__item" src="img/main/gallery/23.png" alt="deodorant">
                        <img class="gallery__item" src="img/main/gallery/lamp.png" alt="lamp">
                        <img class="gallery__item" src="img/main/gallery/fork&spoon.png" alt="fork&spoon">
                    </div>
                    <div class="gallery__column">
                        <img class="gallery__item" src="img/main/gallery/table1.png" alt="table1">
                        <img class="gallery__item" src="img/main/gallery/clock1.png" alt="clock1">
                        <img class="gallery__item" src="img/main/gallery/chair.png" alt="chair">
                        <img class="gallery__item" src="img/main/gallery/clock2.png" alt="clock2">
                    </div>
                    <div class="gallery__column">
                        <img class="gallery__item" src="img/main/gallery/table2.png" alt="table2">
                        <img class="gallery__item" src="img/main/gallery/card.png" alt="card">
                        <img class="gallery__item" src="img/main/gallery/box.png" alt="box">
                    </div>
                </div>
                <button class="gallery__btn" type="button">Load More</button>
            </div>                
        </div>
    </main>
</body>
</html>