.logo {
	margin-right: auto;
	width: 130px;
	height: 35px;
	background: url("../img/logo.png") no-repeat 50% 50%;

	&--footer {
		display: block;
		margin: 0 auto;
	}	

	@media (max-width: 767px) {
		margin: 0 auto;
		background-size: 50%;
	}
}