.slider {
    padding: 265px 0 280px;
    background: url("../img/slider1.png") no-repeat 0 0;
    background-size: cover;

    .promo-name {
        width: 700px;
        margin: 0 auto;
        font-weight: lighter;
        font-size: 48px;
        line-height: 55px;
        text-align: center;
        text-transform: uppercase;
        word-spacing: 11px;
        letter-spacing: 3.5px;
        color: #fff;
        background-color: #000;
    }

    .promo {
        width: 580px;
        margin: 35px auto 0;
        font-weight: lighter;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        word-spacing: 7px;
        letter-spacing: 7px;
        color: #000;
        background-color: transparent;        
    }
}