.main-spost {
	padding-top: 70px;
	padding-bottom: 85px;
	background-color: #fafafa;

	@media (max-width: 767px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&__title {
		margin-bottom: 5px;
		font-size: 30px;
		font-weight: 300;
		line-height: 30px;
		letter-spacing: 4.5px;
		text-align: center;
		text-transform: uppercase;
		color: #333;

		@media (max-width: 991px) {
			font-size: 26px;
		}

		@media (max-width: 767px) {
			font-size: 16px;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: center;

		@media (max-width: 767px) {
			justify-content: space-between;
		}
	}

	&__text {
		margin-bottom: 15px;
		margin-right: 65px;
		font-size: 14px;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: .35px;
		color: #777;

		&:first-child {
			margin-left: auto;
		}

		&:last-child {
			margin-right: auto;
		}

		@media (max-width: 767px) {
			margin-right: auto;
			font-size: 10px;
		}
	}

	&__image {
		display: block;
		width: 100%;
		margin: 0 auto 41px;
	}

	&__content {
		padding-left: 165px;
		padding-right: 160px;

		@media (max-width: 991px) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&__paragraph {
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: .35px;
		color: #777;

		@media (max-width: 767px) {
			text-align: center;
		}
	}

	&__content-title {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: 700;
		line-height: 30px;
		letter-spacing: .4px;
		text-transform: uppercase;
		color: #333;

		@media (max-width: 991px) {
			text-align: center;
		}
	}

	&__quote {
		margin: 0 98px 25px;
		padding-top: 15px;
		padding-bottom: 25px;
		padding-left: 37px;
		font-family: 'PT Serif Bold Italic', arial;
		font-size: 18px;
		line-height: 30px;
		font-style: italic;
		font-weight: 700;
		color: #777;
		box-sizing: border-box;
		border-width: 1px 1px 1px 4px;
		border-style: solid;
		border-color: #e1e1e1 #e1e1e1 #e1e1e1 #c8c8c8;

		@media (max-width: 767px) {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}