.presentation {
	padding-top: 70px;
	background-color: #fafafa;

	@media (max-width: 767px) {
		padding-top: 10px;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		width: 50%;

		&:last-child {
			margin-top: 5px;
			margin-left: 40px;

			@media (max-width: 991px) {
				margin-left: 20px;
			}

			@media (max-width: 767px) {
				margin-left: 0;
				order: 0;
			}
		}

		@media (max-width: 767px) {
			width: 100%;
			padding: 5px;
			order: 1;
		}
	}

	&__title {
		font-size: 30px;
		letter-spacing: 6px;
		line-height: 36px;
		text-transform: uppercase;
		color: #000;

		@media (max-width: 991px) {
			font-size: 20px;
			font-weight: 700;
			text-align: center;
			letter-spacing: 2px;
		}

		@media (max-width: 767px) {
			font-size: 16px;
			line-height: 24px;
		}
	}

	&__technology {
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: 700;
		line-height: 30px;
		letter-spacing: .4px;
		color: #555;

		@media (max-width: 991px) {
			margin-bottom: 10px;
			text-align: center;
		}

		@media (max-width: 767px) {
			margin-bottom: 5px;
			font-size: 14px;
			line-height: 20px;
		}
	}

	&__description {
		margin-bottom: 32px;
		padding-top: 29px;
		padding-bottom: 51px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;

		@media (max-width: 991px) {
			margin-bottom: 10px;
			padding-top: 15px;
			padding-bottom: 10px;
		}

		@media (max-width: 767px) {
			text-align: center;
		}
	}

	&__time {
		margin-right: 60px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: .35px;
		color: #555;

		@media (max-width: 991px) {
			margin-right: 150px;
		}

		@media (max-width: 767px) {
			margin-right: 20px;
			font-size: 12px;
		}
	}

	&__heart {

		@media (max-width: 767px) {
			font-size: 12px;
		}
	}

	&__like {
		margin-left: 5px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: .35px;
		color: #555;

		@media (max-width: 767px) {
			margin-left: 0;
			font-size: 12px;
		}
	}

	&__text {
		margin-top: 30px;
		font-size: 14px;
		letter-spacing: .35;
		line-height: 30px;
		color: #777;

		@media (max-width: 991px) {
			margin-top: 10px;
			padding-left: 5px;
			font-size: 12px;
			line-height: 18px;
		}
	}

	&__title-my-role,
	&__title-tag {
		font-size: 16px;
		line-height: 36px;
		letter-spacing: .4px;
		font-weight: 700;
		text-transform: uppercase;
		color: #333;

		@media (max-width: 991px) {
			font-size: 13px;
			line-height: 18px;
		}

		@media (max-width: 767px) {
			font-size: 11px;
			line-height: 14px;
			text-align: center;
		}
	}

	&__my-role {
		margin-bottom: 36px;

		@media (max-width: 991px) {
			margin-bottom: 10px;
		}
	}

	&__tag {
		margin-bottom: 45px;

		@media (max-width: 991px) {
			margin-bottom: 15px;
		}
	}

	&__my-role,
	&__tag {
		font-size: 16px;
		line-height: 36px;
		letter-spacing: .4px;
		color: #999;

		@media (max-width: 991px) {
			font-size: 13px;
			line-height: 18px;
		}

		@media (max-width: 767px) {
			font-size: 11px;
			line-height: 14px;
			text-align: center;
		}
	}

	&__icon {
		display: flex;
	}

	&__share {
		margin-right: 15px;
		padding: 15px 10px;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: .65px;
		text-transform: uppercase;
		color: #fff;
		background-color: #707070;

		@media (max-width: 991px) {
			padding: 2px;
			font-size: 8px;
			line-height: 20px;
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__share-icon {
		margin-right: 4px;
	}

	&__list {
		position: relative;
		display: flex;
		max-width: 265px;
		width: 100%;
		align-items: center;
		justify-content: space-around;
		padding: 10px;
		background-color: #e1e1e1;


		&:after {
			content: '';
			position: absolute;
			top: 35%;
			left: -7px;
			width: 10px;
			height: 15px;
			background-image: url("../../img/agency/triangle.png");

			@media (max-width: 991px) {
				top: 5px;
			}

			@media (max-width: 767px) {
				display: none;
			}
		}

		@media (max-width: 991px) {
			padding: 5px;
		}

		@media (max-width: 767px) {
			margin-right: auto;
			margin-left: auto;
		}
	}

	&__list-item {

		&:hover {
			transform: scale(1.7);
		}
	}

	&__link {
		font-size: 14px;
		color: #707070;

		@media (max-width: 991px) {
			font-size: 10px;
		}
	}

	&__gallery {
		font-size: 0;

		@media (max-width: 767px) {

		}
	}

	&__main-img {
		max-width: 555px;
		max-height: 350px;
		margin: 0 auto 25px;

		img {
			width: 100%;
			height: 100%;
		}		
	}

	&__images-row { 
  		display: flex;
	}

	&__a { 
  		flex: 1 1 1%;
  		margin-right: 10px;
  		opacity: .3;
		transition: .3s;

		&:last-child {
			margin-right: 0;
		}
		  
		&:hover,
		&:focus {
			opacity: 1;
		}
	}

	&__img { 
		width: 100%;
		height: auto;
	}
}