.social {
	margin: 45px 0 40px;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;

	@media (max-width: 767px) {
		margin: 20px 0 20px;
	}

	&__wrapper {
		display: flex;
		width: 95%;
		max-width: 420px;
		margin: 0 auto;
		padding: 20px 0;
		justify-content: space-between;		
	}

	&__link {
		font-size: 14px;
		color: #777;
	}
}