.social {
	margin: 45px 0 37px;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;

	@media (max-width: 767px) {
		margin: 20px 0;
	}

	&__list {
		display: flex;
		width: 100%;
		max-width: 440px;
		margin: 0 auto;
		padding: 22px 10px;
		justify-content: space-between;
		box-sizing: border-box;	
	}

	&__item {
		transition: .5s ease;

		&:hover {
			transform: scale(1.5);
		}
	}

	&__link {
		font-size: 14px;
		color: #777;
		transition: .5s ease;

		&:hover {
			color: #000;
		}
	}
}