.search {
	position: relative;
	margin-left: 48px;
	margin-right: 10px;
	padding-top: 13px;
	color: #777777;
	cursor: pointer;

	@media (max-width: 767px) {
		margin-left: 0;
		padding-top: 0;
	}

	&__form {
		position: absolute;
		top: 9px;
		left: -120px;
		display: none;
		// transition: .5s ease;
		// opacity: 0;
		// z-index: -1;		
		
		&--open {
			display: block;
		// 	opacity: 1;
		// 	z-index: 1;
		}
	}
}