.main-about {
	padding-top: 73px;
	background-color: #fafafa;

	&__item {
		margin-right: 53px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__story {
		padding-top: 7px;
	}

	&__text {
		margin-top: 32px;
		font-size: 14px;
		line-height: 30px;
		word-spacing: 2px;
		color: #777;

		&:last-child {
			margin-top: 31px;
			margin-bottom: 30px;
		}
	}

	&__skill-name {
		margin-top: 24px;
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 700;
		color: #2f302f;

		&--margin {
			margin-top: 40px;
		}
	}

	&__field {
		position: relative;
		height: 10px;
		width: 552px;
		background-color: #ebebeb;
	}

	&__indicator {
		position: absolute;
		top: 40%;
		left: 5px;
		height: 2px;
		width: 542px;
		background-color: #a1a1a1;

		&::before {
			content: '';
			position: absolute;
			top: -55px;
			width: 50px;
			height: 40px;
			padding-top: 17px;
			text-align: center;
			color: #fff;
			background: url("../img/about/flag.png") no-repeat center;
		}

		&::after {
			content: '';
			position: absolute;
			top: -7px;
			width: 15px;
			height: 15px; 
			background: url("../img/about/elipse.png") no-repeat center;
		}

		&--photoshop {
			width: 90%;

			&::before {
				content: '90%';
				left: 491px;
			}

			&::after {
				left: 488px;
			}
		}

		&--branding {
			width: 95%;

			&::before {
				content: '95%';
				left: 500px;
			}

			&::after {
				left: 515px;
			}
		}

		&--photography {
			width: 50%;

			&::before {
				content: '50%';
				left: 274px;
			}

			&::after {
				left: 271px;
			}
		}

		&--design {
			width: 85%;

			&::before {
				content: '85%';
				left: 464px;
			}

			&::after {
				left: 461px;
			}
		}
	}
}