.main-about {
	padding-top: 73px;
	background-color: #fafafa;

	@media (max-width: 767px) {
		padding-top: 20px;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@media (max-width: 991px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__item {
		margin-right: 53px;
		width: 50%;

		@media (max-width: 991px) {
			margin-right: 0;
			margin-bottom: 20px;
		}

		&:last-child {
			margin-right: 0;

			@media (max-width: 991px) {
				margin-bottom: 0;
			}
		}
	}

	&__story {
		padding-top: 7px;

		@media (max-width: 991px) {
			text-align: center;
		}
	}

	&__text {
		margin-top: 32px;
		font-size: 14px;
		line-height: 30px;
		word-spacing: 2px;
		color: #777;

		&:last-child {
			margin-top: 31px;
			margin-bottom: 30px;
		}
	}

	&__title {

		@media (max-width: 991px) {
			text-align: center;
		}
	}

	&__skill-name {
		margin-top: 24px;
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 700;
		color: #2f302f;

		&--margin {
			margin-top: 40px;
		}
	}

	&__field {
		position: relative;
		height: 10px;
		max-width: 552px;
		width: 100%;
		background-color: #ebebeb;
	}

	&__indicator {
		position: absolute;
		top: 40%;
		left: 5px;
		height: 2px;
		max-width: 542px;
		background-color: #a1a1a1;

		&::before {
			content: '';
			position: absolute;
			top: -55px;
			left: 99%;
			width: 50px;
			height: 40px;
			padding-top: 17px;
			text-align: center;
			color: #fff;
			background: url("../img/about/flag.png") no-repeat center;
		}

		&::after {
			content: '';
			position: absolute;
			top: -7px;
			left: 99%;
			width: 15px;
			height: 15px; 
			background: url("../img/about/elipse.png") no-repeat center;
		}

		&--photoshop {
			width: 90%;

			&::before {
				content: '90%';
			}
		}

		&--branding {
			width: 95%;

			&::before {
				content: '95%';
				left: 93%;
			}
		}

		&--photography {
			width: 50%;

			&::before {
				content: '50%';
			}
		}

		&--design {
			width: 85%;

			&::before {
				content: '85%';
			}
		}
	}
}