.promo {
	margin: 95px auto 0;
	max-width: 615px;
	text-align: center;

	&__title {
		margin-bottom: 30px;
		padding-left: 15px;
		font-size: 30px;
	    font-weight: 300;
	    text-transform: uppercase;
	    letter-spacing: 12px;
		color: #000;

	    @media (max-width: 767px) {
	    	font-size: 20px;
	    }
	}

	&__text {
		font-size: 14px;
		line-height: 30px;
		letter-spacing: .35px;
		color: #777;

		@media (max-width: 767px) {
			padding: 0 5px;
		}
	}
}