.team {
	margin-top: 60px;
	padding-bottom: 75px;

	&__item {
		max-width: 358px;
		width: 100%;
	}

	&__img {
		width: 100%;
	}

	&__description {
		padding-top: 27px;
		padding-left: 36px;
		padding-right: 39px;
		padding-bottom: 23px;
		box-sizing: border-box;
		background-color: #fff;
	}

	&__name {
		margin-bottom: 9px;
		font-size: 24px;
		font-weight: 300;
		line-height: 24px;
		letter-spacing: 0.96px;
		text-transform: uppercase;
		color: #041608;
	}

	&__position {
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.4px;
		color: #777;
	}

	&__representation {
		font-size: 14px;
		line-height: 24px;
		color: #9c9c9c;
	}
}